# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
exe

# Latex extra
*.aux
*.dvi
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fdb_latexmk
*.fls

# Latex mint
_minted-*

# Latex source
*.tex
*.bib

# Latex build short script
.build
.clean

# Images folders for Copyright
images
